@import "./_partial/highlight.sass";

//common
*{
  box-sizing: border-box;
  max-width: 100%;
  transition: $main_transition;
}

$h2_font_size: 2rem;
$h6_font_size: 1rem;
@for $i from 2 through 6 {
  h#{$i} {
    font-size: ($h2_font_size - $h6_font_size) / 4 * (6 - $i) + $h6_font_size;
    font-weight: 300;
  }
}

select,
input,
pre,
code,
var,
samp,
kbd{
  @include propgramming_font();
}

a{
  color: $main_key_text;
  overflow: hidden;
  text-decoration: underline;
  text-decoration-color: rgba($key_color, 0.3);
  @include sp(){
    font-size: 1.2rem;
  }
  &:hover{
    text-decoration: none;
  }
}

button,
.button{
  margin: $grid / 2;
  padding: $grid / 2 $grid;
  color: $main_key_text;
  font-size: 1.2rem;
  text-decoration: none;
  border: none;
  border-radius: $main_border_radius;
  font-weight: 500;
  background: none;
  cursor: pointer;
  &:hover{
    color: $main_lighten_text;
    background: $key_color;
  }
}


//contents
article{
  $article_padding: $grid / 2;

  //header
  h2,
  h3,
  h4,
  h5,
  h6{
    margin: $grid * 2 0 0 0;
    padding: $article_padding;
    max-width: calc(100% + #{$grid / 2});
    border-bottom: $main_border;
    line-height: 1.25;
  }

  h2 + h3,
  h3 + h4,
  h4 + h5,
  h5 + h6{
    margin-top: 0;
  }

  //other
  p{
    margin: $grid 0 0 0;
    padding: 0 $article_padding;
  }

  em{
    font-weight: 400;
    font-style: italic;
  }

  b,
  strong{
    font-weight: 700;
  }

  img,
  iframe{
    position: relative;
    left: calc(50% + #{$article_padding});
    display: block;
    margin: 0 -1 * $article_padding;
    max-width: calc(100% + #{$article_padding * 2});
    transform: translateX(-50%);
    @include sp(){
      left: calc(50% + #{$article_padding + $grid});
      margin: 0 -1 * ($article_padding + $grid);
      max-width: calc(100% + #{$article_padding + $grid} * 2);
    }
  }

  iframe{
    margin-top: $grid;
  }

  table{
    width: 100%;
    margin: $grid 0 0;
    border-collapse: collapse;

    th, td{
      padding: $grid / 4;
    }

    thead{
      tr{
        font-weight: 700;
        border-bottom: solid 2px lighten($main_darken_text, 70%);
      }
    }

    tbody{
      tr{
        border-bottom: solid 1px lighten($main_darken_text, 70%);
      }
    }
  }

  blockquote{
    margin: 0 0 0 $grid;
    padding: 0 0 0 $grid;
    border-left: $main_border;
  }

  code{
    display: inline-block;
    margin: 0 $grid / 4;
    padding: 0 $grid / 4;
    background: $main_lighten_bg_active;
    border-radius: $main_border_radius;
  }

  .highlight{
    margin: $grid 0 0;
    color: $main_lighten_text;
    background: $main_darken_bg;
    overflow: auto;
    @include propgramming_font();

    table{
      width: auto;
      margin: $grid / 2;

      tr{
        border-bottom: none;

        td{
          &:first-child{
            color: darken($main_lighten_text, 50%);
            text-align: right;
          }

          pre{
            margin: 0;
            line-height: 1.2;
          }
        }
      }
    }
  }
}
