@import './_partial/PostCard.scss';

.index{
  .post_cards{
    margin-top: $grid * 2;
    @include sp(){
      margin-top: $grid;
    }
  }

  .page_nav{
    display: flex;
    justify-content: center;
    margin-top: $grid * 2;

    .page-number,
    .space,
    .extend{
      @extend .button;
      flex-grow: 1;
      margin: $grid / 8;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }

    .page-number,
    .space{
      @include sp(){
        display: none;
      }
    }

    .prev,
    .next{
      @include sp(){
        flex-grow: 0;
        width: 33%;
      }
    }

    .prev{
      @include sp(){
        margin-right: auto;
      }
    }

    .next{
      @include sp(){
        margin-left: auto;
      }
    }

    .current,
    .space{
      color: $main_darken_text;
      background: none;
      font-weight: 300;
      cursor: auto;
      &:hover{
        color: $main_darken_text;
        background: none;
      }
    }

    .current{
      @include sp(){
        display: inline;
        position: absolute;
      }
    }
  }
}

