@import "./_partial/Header.scss";
@import "./_partial/Aside.scss";
@import "./_partial/Footer.scss";

html{
  overflow: hidden;

  body{
    width: 100%;
    height: 100vh;
    color: $main_darken_text;
    line-height: 1.7;
    font-size: 16px;
    background: $key_color;
    perspective: 1px;
    perspective-origin: top center;
    overflow: hidden scroll;
    transform-style: preserve-3d;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    @include main_font();

    .bg{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 200vh;
      margin: 0;
      padding: 0;
      transform: translateZ(-1px) scale(2);
      transform-origin: top center 0;
      object-fit: cover;
      object-position: center top;
      z-index: -1;
    }

    .container{
      display: flex;
      width: 100%;
      max-width: $main_max_width;
      margin: 0 auto;
      padding-bottom: $grid * 4;
      background: $main_lighten_bg;
      box-shadow: $main_box_shadow;
      border-radius: $main_border_radius $main_border_radius 0 0;
      @include sp(){
        flex-direction: column;
        border-radius: 0;
      }

      main{
        width: 70%;
        padding: 0 $grid 0 $grid * 2;
        @include sp(){
          width: 100%;
          padding: 0 $grid;
        }
      }
    }
  }
}

