@import "./_partial/Header.scss";
@import "./_partial/Aside.scss";
@import "./_partial/Footer.scss";

html{
  body{
    width: 100%;
    height: 100vh;
    color: $main_darken_text;
    line-height: 1.7;
    font-size: 16px;
    background-image: url(images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    @include main_font();

    &:before{
      content: "";
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background:url(images/bg.jpg) no-repeat center;
      background-size: cover;
      z-index: -1;
    }

    .container{
      display: flex;
      width: 100%;
      max-width: $main_max_width;
      margin: 0 auto;
      padding-bottom: $grid * 4;
      background: $main_lighten_bg;
      box-shadow: $main_box_shadow;
      @include sp(){
        flex-direction: column;
      }

      main{
        width: 70%;
        padding: 0 $grid 0 $grid * 2;
        @include sp(){
          width: 100%;
          padding: 0 $grid;
        }
      }
    }
  }
}
