@import "./_partial/Disqus.scss";

.post{
  article{
    > *:first-child{
      margin-top: $grid * 2;
      @include sp(){
        margin-top: $grid;
        
        > img{
          margin-top: -1 * $grid;
        }
      }
    }
  }
}
