footer{
  max-width: $main_max_width;
  margin: 0 auto;
  padding: $grid;
  color: $main_lighten_text;
  text-align: center;
  font-size: 0.9rem;
  background: darken($key_color, 5%);
  box-shadow: $main_paper_shadow;
}

