.header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: $main_max_width;
  height: 80vh;
  margin: 0 auto;
  padding: $grid * 2;
  color: $main_lighten_text;
  text-shadow: $main_text_shadow;
  @include main_font(400);

  *{
    overflow: visible;
  }

  &__sub{
    font-size: calc(1.2rem);
    text-decoration: none;
  }

  a.header__sub{
    &:link,
    &:visited{
      color: $main_lighten_text;
    }

    &:hover{
      text-decoration: underline;
    }
  }

  &__main{
    margin: 0;
    font-size: calc(2rem + 2vw);
    @include main_font(500);
  }

  &__date{
    font-size: calc(1.5rem);
  }
}
