.post_nav{
  display: flex;
  width: 100%;
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
  @include sp(){
    flex-wrap: wrap;
  }

  a{
    position: relative;
    overflow: visible;
    @include sp(){
      width: 100%;
      padding: $grid / 2 0;
    }
  }

  $icon_margin: $grid / 2;
  .prev{
    margin-right: auto;
    padding-left: calc(#{$icon_margin} + 1em);
    &:before{
      content: "\f053";
      position: absolute;
      top: 50%;
      left: 0;
      display: inline-block;
      font-family: FontAwesome;
      transform: translateY(-50%);
    }
  }

  .next{
    text-align: right;
    margin-left: auto;
    padding-right: calc(#{$icon_margin} + 1em);
    &:before{
      content: "\f054";
      position: absolute;
      top: 50%;
      right: 0;
      display: inline-block;
      font-family: FontAwesome;
      transform: translateY(-50%);
    }
  }
}
