.post_card{
  @extend .button;
  position: relative;
  display: block;
  margin: $grid auto;
  padding: 0 $grid $grid $grid;
  text-decoration: none;
  box-shadow: $main_paper_shadow;
  overflow: hidden;
  &:first-child{
    margin-top: 0;
  }

  &:hover{
    .img_container{
      img{
        transform: scale(1);
        filter: brightness(70%);
      }
    }
  }

  .img_container{
    display: block;
    width: calc(100% + #{$grid} * 2);
    max-width: none;
    margin: 0 $grid * -1;
    overflow: hidden;

    img{
      width: 100%;
      height: auto;
      max-height: 30vh;
      margin: 0;
      object-fit: cover;
      vertical-align: bottom;
      transform: scale(1.05);
    }
  }

  h2{
    margin: 0;
    border: none;
  }

  span{
    display: inline-block;
    width: 100%;
    margin-top: $grid;
    font-size: 0.9rem;
  }

  &.is-simple{
    display: flex;
    padding: 0;

    .img_container{
      width: 40%;
      margin: 0;

      img{
        width: 100%;
        height: 100%;
        max-height: none;
        margin: 0;
      }
    }

    h2{
      display: flex;
      align-items: center;
      width: 60%;
      margin: $grid;
      font-size: 1.35rem;
    }

    span{
      display: none;
    }
  }
}

